@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/static/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/static/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Light.ttf');
}